#search {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
	transition: all 0.5s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

#search.open {
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="text"] {
    position: relative;
    top: 10vh;
    left: 5%;
    width: 90%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    padding: 1em auto;
    border: none;
    border-bottom: 2px solid #FFF;
    outline: none;
}

#search .close {
    position: fixed;
    top: 15px;
    color: #062650;
    background-color: #FFF;
    border: none;
    opacity: 1;
    padding: .2em .4em;
    font-size: 1em;
    left: 15px;
}

#search .filter {
    background-color: #03A9F4;
}

#filters-wrapper {
    background: #FFF;
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 2em;
    padding: 6px;
    margin-top: 15vh;
}

#filters-wrapper .filter {
    width: 100%;
    padding: .5em 0;
    border: 0;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #212121;
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    transition: all .3s linear;
}

input[type="checkbox"]:checked{
    background-color: #03A9F4;
}

#filters-wrapper h3 {
    margin: 0;
}

#filters-wrapper ul li label {
    margin-left: 5px;
    vertical-align: top;
}

#filters {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out;
}

#filters.open {
    max-height: 1000px;
}

#results {
    position: relative;
    top: 20%;
    width: 90%;
    left: 5%;
}

#results ul li {
    background: #FFF;
    margin-bottom: 6px;
    padding: 6px;
}