#mainContentWrapper {
	background-color: #FFF;
	margin: -10vh auto 0;
	padding: 2em 1em;
	text-align: left;
	min-height: 40vh;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}